:root {
  --border-radius: 1rem;
  --text-base: 1rem;
  --text-lg: 1.5rem;
  --tracking: -4%;
}

body {
  margin: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: system-ui;
  letter-spacing: var(--tracking);
}

#works {
  /* background-color: gray; */
  margin-right: -1.5rem;
  height: 45vh;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border: solid black 4px;
  border-right: none;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
}

#logo {
  width: 253px;
  height: 136px;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

#title {
  margin: 0;
  font-size: var(--text-lg);
}

#contact {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#instagram {
  width: 32px;
  height: 32px;
}

#gmail {
  text-decoration: none;
  color: inherit;
}
